
/*  SECTIONS  ===*/

.section {
	clear: both;
	padding: 0px;
	@include margin();
}

/* CONTAINER ====*/
.container{
	width: 100%;
	margin: auto;
}

@include extra-large-screen{
	.container{
		max-width: 1190px;
	}
}
