<header class="grid main-header">
    <!-- app cart component inject over here -->
    <app-cart  [showCart]="showCart" (notifyToggleCart)="getNotofiedFromChild($event)"></app-cart>
    <!-- Skip to main content link here -->
    <skip-to-main></skip-to-main>

    <!-- Fixed section -->
    <div class="header-wrapper grid">


        <!-- App logo container -->

        <div class="logo-container ">

            <!-- App logo -->
            <app-logo></app-logo>
        </div>
        

        <!-- Main navigation container -->

        <div class="main-navigation">
            
            <!-- Main navigation -->
            <app-navigation></app-navigation>
        </div>


        <!-- Cart, signup and signin container -->

        <div class="cart-container  grid">
            <!-- Secondary navigation -->
            <app-secondary-navigation></app-secondary-navigation>

            <!-- Mini Secondary navigation -->
            <app-mini-secondary-nav></app-mini-secondary-nav>
            
            <!-- Cart button section -->
            <cart-btn [customClass]="'flex-row'" [cartCount]="cartCount" (toggleCart)="toggleCart()"></cart-btn>
            
        </div>
    </div>
    <div id="js-overlay" (click)="closeCart()">
    </div>
</header>


