@import '../../styles/abstract/variables';
@import '../../styles/abstract/mixin';
@import '../../styles/abstract/color';
.list-container{
    outline: none;
    flex-direction: column;
    .container{
        flex-direction: column;
    }
    .product-list-tiles{
        flex-direction: column;
        .each-item{
            flex: 0 1 100%;
        }
    }
    
    .tabs{
        display: none;
        /*For IE vertical align is used*/
        vertical-align: top;
        @include bg-opacity($gs-19);
        .loading{
            position: relative;
            top:100px;
            color: $gs-4;
        }
    }
    a{
        color:$gs-7;
        font-weight: 600;
    }
    .product-list-tiles{
        .loading{
            @include font-size(110%);
            @include margin(10%,35%,10%,35%);
            @include margin($top:10%,$right:35%,$bottom:10%,$left:35%);
        }
    }


    //small-screen 576px
    @include small-screen{
        .tabs{
            display: table-cell;
            width: 25%;
        }
        .container{
            flex-direction: row;
            .tabs{
                flex: 0 1 30%;
            }
            .product-list-tiles{
                flex: 0 1 70%;
                flex-flow: row wrap;
                .each-item{
                    flex: 0 1 50%;
                }
            }
        }
    }

    // min-width  768px
    @include medium-screen {

        .container{
            flex-direction: row;
            .tabs{
                flex: 0 1 25%;
            }
            .product-list-tiles{
                .each-item{
                    flex: 0 1 33%;
                }
            }
        }
        
    }
    // min-width 992px
    @include large-screen{
        .tabs{
            width: 20%;
        }
        .container{
            .product-list-tiles{
                .each-item{
                    flex: 0 1 25%;
                }
            }
        }
        
        
    }   
}

